#root {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  .form {
    background-color: white;
    width: 512px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 30px 50px;
    // height: 500px;
    h1 {
      text-align: center;
      font-weight: 900;
      color: #f29a88;
    }
    .form-label {
      font-size: 20px;
      font-weight: 800;
    }
    .form-control {
      border-radius: 30px;
      height: 50px;
    }
    .buttons {
      display: flex;
      flex-direction: column;
      Button {
        background: linear-gradient(
          to left,
          rgb(255, 77, 46),
          rgb(255, 155, 47)
        );
        border: none;
        margin-bottom: 10px;
        height: 50px;
        outline: none;
        border-radius: 40px;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 767px) {
  //모바일
  #root {
    .form {
      border-radius: 0px;
      height: 100vh;
    }
  }
}

@media (min-width: 1200px) {
  // 데스크탑 일반
  #root {
    height: 100vh;
    .from {
      height: 500px;
    }
  }
}
